body{
    width:1440px;
    color:white;
    font-size:14px;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: 600;
    text-align:center;
    background-color:hsl(0, 0%, 20%);

}

img{
    border-radius: 50%;
    width:150px;
    height:150px;
    object-fit:cover;
}

.location{
    color: hsl(75, 94%, 57%);

}

.main-body{

    margin:300px;
  background-color: hsl(0, 0%, 12%);
  border: 2px solid hsl(0, 0%, 12%); /* Aici ai border-ul dorit */
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  height: 600px;
  text-align: center;
  color: white;
}
a,button{
    all:unset ;
    background-color:hsl(0, 0%, 20%);
    color:white;
    border:none;
    padding:10px;
    border-radius: 10px;
    margin-top:15px;
    width:95%;
    cursor:pointer;
}